<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><ul class="toc-item"><li><ul class="toc-item"><li><span><a href="#Imports" data-toc-modified-id="Imports-0.0.1"><span class="toc-item-num">0.0.1&nbsp;&nbsp;</span>Imports</a></span></li></ul></li></ul></li><li><span><a href="#plot-heatmap-of-ratings" data-toc-modified-id="plot-heatmap-of-ratings-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>plot heatmap of ratings</a></span></li><li><span><a href="#heatmap-of-rental-prices" data-toc-modified-id="heatmap-of-rental-prices-2"><span class="toc-item-num">2&nbsp;&nbsp;</span>heatmap of rental prices</a></span></li></ul></div>

### Imports

In [1]:
import pandas as pd
from matplotlib import pyplot as plt
import numpy as np
import pandas_explode
pandas_explode.patch()

In [2]:
# Load the data (will take a short while)
calendar = pd.read_csv("airbnb_data/calendar.csv")
demographics = pd.read_csv("airbnb_data/demographics.csv")
econ_state = pd.read_csv("airbnb_data/econ_state.csv")
listings = pd.read_csv("airbnb_data/listings.csv")
real_estate = pd.read_csv("airbnb_data/real_estate.csv")
venues = pd.read_csv("airbnb_data/venues.csv")

In [3]:
display(venues)

,city,id,latitude,longitude,name,rating,types
0,new york city,b1a0d113cb17d1d85f0e12700dd71f36bddedc54,40.601540,-73.729636,A Bacon Yacht Charter,NaN,"['restaurant', 'food', 'point_of_interest', 'e..."
1,new york city,8799bb8d8ac7c2e1933f92ac1ef0f69a5e0b37c1,40.608921,-73.728256,Mezzanote,NaN,"['restaurant', 'food', 'point_of_interest', 'e..."
2,new york city,f2390680116af4d62e0da6f0432d33e94b9cb0e6,40.616978,-73.730349,Prime Bistro,4.0,"['bar', 'restaurant', 'food', 'point_of_intere..."
3,new york city,e9294eb56025e8eb29b937dc0aca29fd3059b9ab,40.617318,-73.730637,Rita's Ice,4.6,"['restaurant', 'food', 'point_of_interest', 'e..."
4,new york city,5c7b72c7bf9e7bc4f94baf09db1252088087f65d,40.618371,-73.728178,Cho-Sen Island,4.4,"['restaurant', 'food', 'point_of_interest', 'e..."
...,...,...,...,...,...,...,...
267953,washington dc,4efa823d2ba70d32bb1272b31d0e01f98b3f6274,38.934085,-77.057641,"National Zoo, Reptile House",NaN,"['zoo', 'point_of_interest', 'establishment']"
267954,washington dc,9fa01cff0b2b2bba8269bf3932f889d41d2fb1d2,38.952258,-76.952236,Hamilton Pool,3.9,"['amusement_park', 'point_of_interest', 'estab..."
267955,washington dc,49cccff61018d81869b015c2096e8da3319def09,38.888630,-76.973022,Scream City Haunted House,4.3,"['amusement_park', 'point_of_interest', 'estab..."
267956,washington dc,b8453b41c171dd6b9e289d56cbb67bc1a1dddb25,38.903170,-76.988419,Cole Spray Park,NaN,"['amusement_park', 'point_of_interest', 'estab..."
267957,washington dc,78e0304412c65a0100ebbcc1c8c6403fb5c535d1,38.914844,-77.024677,Westminster Park,4.5,"['amusement_park', 'point_of_interest', 'estab..."

In [4]:
# venues["latitude"] = venues["latitude"].multiply(1000).round(0)
# venues["longitude"]= venues["longitude"].multiply(1000).round(0)
# display(venues)

In [84]:
venues_ny = venues.loc[venues['city'] == "new york city"]
# display(venues_ny)

In [91]:
venues_ny_hasRating = venues_ny#.dropna()
# display(venues_ny_hasRating)

In [92]:
df3 = venues_ny_hasRating.types.apply(pd.Series).add_prefix('code_')
# display(df3)

# plot heatmap of ratings

In [103]:
# df3.reset_index(drop = True)
label = 'point_of_interest'#"university"#"lodging"#"museum"#'restaurant'"church"
notable = np.empty(0)
for idx in df3.index:
    if label in df3["code_0"][idx]:
        notable = np.append(notable,idx)
# print(notable)

In [104]:
# for idx in df3.index:
#     display(df3["code_0"][idx])
#     break
# notable.astype(int)

In [105]:
feature = venues_ny_hasRating.loc[notable]
feature

,city,id,latitude,longitude,name,rating,types
0.0,new york city,b1a0d113cb17d1d85f0e12700dd71f36bddedc54,40.601540,-73.729636,A Bacon Yacht Charter,NaN,"['restaurant', 'food', 'point_of_interest', 'e..."
1.0,new york city,8799bb8d8ac7c2e1933f92ac1ef0f69a5e0b37c1,40.608921,-73.728256,Mezzanote,NaN,"['restaurant', 'food', 'point_of_interest', 'e..."
2.0,new york city,f2390680116af4d62e0da6f0432d33e94b9cb0e6,40.616978,-73.730349,Prime Bistro,4.0,"['bar', 'restaurant', 'food', 'point_of_intere..."
3.0,new york city,e9294eb56025e8eb29b937dc0aca29fd3059b9ab,40.617318,-73.730637,Rita's Ice,4.6,"['restaurant', 'food', 'point_of_interest', 'e..."
4.0,new york city,5c7b72c7bf9e7bc4f94baf09db1252088087f65d,40.618371,-73.728178,Cho-Sen Island,4.4,"['restaurant', 'food', 'point_of_interest', 'e..."
...,...,...,...,...,...,...,...
130583.0,new york city,1399b4a298f5376d6639f7a7250f847b22aa7c81,40.590669,-73.994694,Adventurers Amusement Park,4.0,"['amusement_park', 'point_of_interest', 'estab..."
130584.0,new york city,ee5de6cef5e9acd0820f0f293b5788f06f027bab,40.694869,-74.001728,Brooklyn Bridge Park Pier 5,4.6,"['amusement_park', 'premise', 'point_of_intere..."
130585.0,new york city,351ee0368b94343a6af48f77767127aae568f30c,40.820019,-74.007069,Gateway Rides & Sales LLC,NaN,"['amusement_park', 'point_of_interest', 'estab..."
130586.0,new york city,680c0019c6aec12c75a21dd8ba1568e78eb0c3b8,40.873391,-73.990393,Field Station: Dinosaurs,3.6,"['amusement_park', 'point_of_interest', 'estab..."
130587.0,new york city,9a9197183b0dc768834ece2a7efcc1937a0d135d,40.706807,-74.018736,Oasis Park,4.8,"['amusement_park', 'point_of_interest', 'estab..."

In [109]:
import gmaps
# import gmaps.datasets

gmaps.configure(api_key='AIzaSyDI19Dy-f2Hfl7o-L-AqHRP94lwN_1poXU') # Fill in with your API key

# listing_lat = listings.loc[listings['state'] == "NY"]["latitude"].to_numpy()
# listing_lon = listings.loc[listings['state'] == "NY"]["longitude"].to_numpy()
lat = feature["latitude"].to_numpy()
lon = feature["longitude"].to_numpy()
rat = feature["rating"].to_numpy()
# locations = listings.loc[listings['state'] == "NY"][['latitude', 'longitude']]
locations = [lat, lon]
fig = gmaps.figure()
'''
heatmap_layer = gmaps.heatmap_layer(
    feature[['latitude', 'longitude'], weights=feature['rating'],
      point_radius = 5
)
'''
heatmap_layer = gmaps.heatmap_layer(
    feature[['latitude', 'longitude']], point_radius = 3
)
fig.add_layer(heatmap_layer)
fig
# )
# fig = gmaps.figure()
# fig.add_layer(layer)
# fig
# print("done")

Figure(layout=FigureLayout(height='420px'))

# heatmap of rental prices

In [114]:
listny = listings.loc[listings["metropolitan"] == 'NYC']
# cleanListing.isnull().sum()
listny.head()

,accommodates,amenities,availability_30,bathrooms,bed_type,bedrooms,beds,cancellation_policy,city,has_availability,...,review_scores_checkin,review_scores_cleanliness,review_scores_communication,review_scores_location,review_scores_rating,review_scores_value,room_type,state,weekly_price,zipcode
0,2.0,"{""Cable TV"",""Wireless Internet"",""Air condition...",24,1.0,Real Bed,1.0,1.0,moderate,sunnysidebronx,NaN,...,10.0,10.0,10.0,10.0,100.0,10.0,Private room,NY,NaN,10464
1,4.0,"{TV,Internet,""Wireless Internet"",""Air conditio...",30,1.0,Real Bed,1.0,1.0,flexible,sunnysidebronx,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,Private room,NY,NaN,10464
2,4.0,"{TV,""Cable TV"",Internet,""Wireless Internet"",""A...",30,3.0,Real Bed,3.0,3.0,strict,sunnysidebronx,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,Entire home/apt,NY,NaN,10464
3,3.0,"{TV,Internet,""Wireless Internet"",""Air conditio...",8,1.0,Real Bed,1.0,1.0,strict,long island city,NaN,...,10.0,10.0,10.0,10.0,93.0,10.0,Entire home/apt,NY,775.0,10464
4,4.0,"{Internet,""Wireless Internet"",""Air conditionin...",17,1.0,Real Bed,1.0,1.0,moderate,sunnysidebronx,NaN,...,10.0,10.0,10.0,10.0,97.0,10.0,Private room,NY,350.0,10464

In [119]:
listny.dropna(subset=['price'])

0         99.0
1        200.0
2        300.0
3        125.0
4         69.0
         ...
40735     70.0
40736    949.0
40737    600.0
40738    129.0
40739    200.0
Name: price, Length: 40740, dtype: float64

In [125]:
fig2 = gmaps.figure()

heatmap_layer = gmaps.heatmap_layer(
    listny[['latitude', 'longitude']], weights=listny['price'], point_radius = 3)

fig2.add_layer(heatmap_layer)
fig2

Figure(layout=FigureLayout(height='420px'))