<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><ul class="toc-item"><li><span><a href="#imports" data-toc-modified-id="imports-0.1"><span class="toc-item-num">0.1&nbsp;&nbsp;</span>imports</a></span></li></ul></li><li><span><a href="#Play-with-Demographics" data-toc-modified-id="Play-with-Demographics-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>Play with Demographics</a></span><ul class="toc-item"><li><span><a href="#Display-data" data-toc-modified-id="Display-data-1.1"><span class="toc-item-num">1.1&nbsp;&nbsp;</span>Display data</a></span></li><li><span><a href="#Get-rid-of-invalid-zip-codes" data-toc-modified-id="Get-rid-of-invalid-zip-codes-1.2"><span class="toc-item-num">1.2&nbsp;&nbsp;</span>Get rid of invalid zip codes</a></span></li><li><span><a href="#Some-headers-are-mislabeled.-Fixed-at-bottom-of--notebook" data-toc-modified-id="Some-headers-are-mislabeled.-Fixed-at-bottom-of--notebook-1.3"><span class="toc-item-num">1.3&nbsp;&nbsp;</span>Some headers are mislabeled. Fixed at bottom of  notebook</a></span></li><li><span><a href="#Age-groups-=>-percentages/distribution" data-toc-modified-id="Age-groups-=>-percentages/distribution-1.4"><span class="toc-item-num">1.4&nbsp;&nbsp;</span>Age groups =&gt; percentages/distribution</a></span></li><li><span><a href="#Include-mean-and-median-household-income" data-toc-modified-id="Include-mean-and-median-household-income-1.5"><span class="toc-item-num">1.5&nbsp;&nbsp;</span>Include mean and median household income</a></span></li><li><span><a href="#Make-it-neat" data-toc-modified-id="Make-it-neat-1.6"><span class="toc-item-num">1.6&nbsp;&nbsp;</span>Make it neat</a></span></li></ul></li><li><span><a href="#Play-with-Real-Estate" data-toc-modified-id="Play-with-Real-Estate-2"><span class="toc-item-num">2&nbsp;&nbsp;</span>Play with Real Estate</a></span><ul class="toc-item"><li><span><a href="#There-are-two-metrics.-The-non-ZHVI-have-no-useful-data.-Be-gone" data-toc-modified-id="There-are-two-metrics.-The-non-ZHVI-have-no-useful-data.-Be-gone-2.1"><span class="toc-item-num">2.1&nbsp;&nbsp;</span>There are two metrics. The non-ZHVI have no useful data. Be gone</a></span></li><li><span><a href="#Get-mean-and-percent-change-in-Zillow-rating-of-zipcode" data-toc-modified-id="Get-mean-and-percent-change-in-Zillow-rating-of-zipcode-2.2"><span class="toc-item-num">2.2&nbsp;&nbsp;</span>Get mean and percent change in Zillow rating of zipcode</a></span></li><li><span><a href="#Make-it-neat" data-toc-modified-id="Make-it-neat-2.3"><span class="toc-item-num">2.3&nbsp;&nbsp;</span>Make it neat</a></span></li></ul></li><li><span><a href="#Save-Zipcodes-that-appear-in-both-datasets" data-toc-modified-id="Save-Zipcodes-that-appear-in-both-datasets-3"><span class="toc-item-num">3&nbsp;&nbsp;</span>Save Zipcodes that appear in both datasets</a></span><ul class="toc-item"><li><span><a href="#Concatenate-and-export" data-toc-modified-id="Concatenate-and-export-3.1"><span class="toc-item-num">3.1&nbsp;&nbsp;</span>Concatenate and export</a></span></li></ul></li></ul></div>

### imports

In [27]:
import pandas as pd
from matplotlib import pyplot as plt
import numpy as np

In [28]:
# Load the data (will take a short while)
calendar = pd.read_csv("airbnb_data/calendar.csv")
demographics = pd.read_csv("airbnb_data/demographics.csv")
econ_state = pd.read_csv("airbnb_data/econ_state.csv")
listings = pd.read_csv("airbnb_data/listings.csv")
real_estate = pd.read_csv("airbnb_data/real_estate.csv")
venues = pd.read_csv("airbnb_data/venues.csv")

In [31]:
# import gmaps
# import gmaps.datasets

# gmaps.configure(api_key='AIzaSyDI19Dy-f2Hfl7o-L-AqHRP94lwN_1poXU') # Fill in with your API key

# listing_lat = listings.loc[listings['state'] == "NY"]["latitude"].to_numpy()
# listing_lon = listings.loc[listings['state'] == "NY"]["longitude"].to_numpy()
# locations = listings.loc[listings['state'] == "NY"][['latitude', 'longitude']]
# #locations = [listing_lat, listing_lon]
# layer = gmaps.symbol_layer(
#     locations, fill_color='green', stroke_color='green', scale=2
# )
# fig = gmaps.figure()
# fig.add_layer(layer)
# fig
# print("done")

## Play with Demographics

### Display data

In [32]:
display(demographics)
#checking 3 digit zipcodes. Ignore all less than 5 digits
# demographics.loc[demographics["zipcode"] == 601]

,zipcode,5_years_or_less,5-9_years,10-14_years,15-19_years,20-24_years,25-34_years,35-44_years,45-54_years,55-59_years,...,"$10,000-$14,999","$15,000-$24,999","$25,000-$34,999","$35,000-$49,999","$50,000-$64,999","$65,000-$74,999","$75,000-$99,999","$100,000_or_more",median_household_income,mean_household_income
0,601,17982,1006,1080,1342,1352,1321,2253,2149,2434,...,48.1,12,12.8,8.6,8.7,6.2,1.4,16.3,10816,20349
1,602,40260,2006,2440,2421,2953,2865,5124,5139,5947,...,31.4,16.3,17.9,12.2,10.6,7.7,2.9,21.2,16079,23282
2,603,52408,2664,3177,3351,3685,3585,6473,6775,6678,...,31,14.9,17.5,11.7,10.8,8.7,2.4,21.9,16804,26820
3,606,6331,347,331,461,474,469,707,933,776,...,45.3,10.2,20,11.7,11,1.8,0,12.8,12512,15730
4,610,28328,1438,1490,2044,2122,1985,3358,3778,3858,...,26.9,14.8,23.7,15.2,9.3,7.5,1.6,18.4,17475,23360
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
33115,99923,13,0,0,0,0,0,0,0,0,...,0,46.2,53.8,0,0,0,0,0,-,N
33116,99925,826,65,50,47,36,60,86,82,111,...,7.1,6.2,21.2,11.1,12.6,17.5,9.5,39.6,38594,52706
33117,99926,1711,161,124,140,113,107,224,182,236,...,5.5,1.9,14.1,11.1,16.8,14.5,12,43.3,51071,71580
33118,99927,123,0,0,0,0,0,0,32,22,...,28.2,0,23.1,15.4,25.6,0,0,25.6,19861,35617
33119,99929,2365,89,103,133,142,100,223,197,381,...,5.1,6.9,14.2,9.9,15.1,17.6,13.6,46.3,47941,62587

### Get rid of invalid zip codes

In [33]:
zip_threshed = demographics.loc[demographics["zipcode"] >= 10000]
display(zip_threshed)
age_range = zip_threshed.iloc[:,2:15]
# display(age_range)

,zipcode,5_years_or_less,5-9_years,10-14_years,15-19_years,20-24_years,25-34_years,35-44_years,45-54_years,55-59_years,...,"$10,000-$14,999","$15,000-$24,999","$25,000-$34,999","$35,000-$49,999","$50,000-$64,999","$65,000-$74,999","$75,000-$99,999","$100,000_or_more",median_household_income,mean_household_income
2558,10001,23537,562,1089,900,1053,2785,4970,3905,2795,...,8.6,4.1,9.3,5.1,9.2,8.5,9.8,27.5,86801,158183
2559,10002,80736,3079,3171,3638,3922,5338,13938,12055,11182,...,15.5,12.6,14,8.8,10,14.2,7.1,31.3,33726,61946
2560,10003,57112,1545,911,764,7308,5714,15565,7843,5718,...,6.1,1.9,7,4.9,6.4,13,11.3,30.7,98151,161692
2561,10004,3221,126,101,161,227,255,857,572,387,...,2.2,0.3,1.7,6.5,5.1,7.1,14.8,27,119691,177262
2562,10005,8131,299,250,140,85,1101,3690,1696,631,...,7.9,0.8,4.5,1.9,1.4,9,9.9,20.3,124194,176424
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
33115,99923,13,0,0,0,0,0,0,0,0,...,0,46.2,53.8,0,0,0,0,0,-,N
33116,99925,826,65,50,47,36,60,86,82,111,...,7.1,6.2,21.2,11.1,12.6,17.5,9.5,39.6,38594,52706
33117,99926,1711,161,124,140,113,107,224,182,236,...,5.5,1.9,14.1,11.1,16.8,14.5,12,43.3,51071,71580
33118,99927,123,0,0,0,0,0,0,32,22,...,28.2,0,23.1,15.4,25.6,0,0,25.6,19861,35617
33119,99929,2365,89,103,133,142,100,223,197,381,...,5.1,6.9,14.2,9.9,15.1,17.6,13.6,46.3,47941,62587

### Some headers are mislabeled. Fixed at bottom of  notebook

In [34]:
# under 5 years old should be total_population. mislabeled
# total_pop = age_range.sum(axis=1, skipna=None)
# display(total_pop)
# age_range_percentages = age_range.div(total_pop, axis='rows')
# display(age_range_percentages)

### Age groups => percentages/distribution

In [35]:
# converts age ranges to percentages
total_pop = zip_threshed.iloc[:,1]
age_percentages = age_range.div(total_pop, axis='rows')
display(age_percentages)
sanity = age_percentages.sum(axis=1, skipna=None)
display(sanity) #sanity check to determine if they add to 1

,5-9_years,10-14_years,15-19_years,20-24_years,25-34_years,35-44_years,45-54_years,55-59_years,60-64_years,65-74_years,75-84_years,85_years_or_more,households
2558,0.023877,0.046268,0.038238,0.044738,0.118324,0.211157,0.165909,0.118749,0.070102,0.044441,0.065896,0.042401,0.009899
2559,0.038137,0.039276,0.045060,0.048578,0.066117,0.172637,0.149314,0.138501,0.057793,0.066067,0.083804,0.063986,0.030730
2560,0.027052,0.015951,0.013377,0.127959,0.100049,0.272535,0.137327,0.100119,0.051863,0.050847,0.058692,0.030011,0.014218
2561,0.039118,0.031357,0.049984,0.070475,0.079168,0.266066,0.177585,0.120149,0.051537,0.060540,0.050605,0.003415,0.000000
2562,0.036773,0.030747,0.017218,0.010454,0.135408,0.453819,0.208584,0.077604,0.013651,0.004796,0.010946,0.000000,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...
33115,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.461538,0.000000,0.000000,0.538462,0.000000
33116,0.078692,0.060533,0.056901,0.043584,0.072639,0.104116,0.099274,0.134383,0.081114,0.105327,0.098063,0.043584,0.021792
33117,0.094097,0.072472,0.081823,0.066043,0.062537,0.130918,0.106371,0.137931,0.094097,0.057861,0.068381,0.023378,0.004091
33118,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.260163,0.178862,0.292683,0.162602,0.105691,0.000000,0.000000
33119,0.037632,0.043552,0.056237,0.060042,0.042283,0.094292,0.083298,0.161099,0.117548,0.089218,0.106131,0.090909,0.017759

2558     1.0
2559     1.0
2560     1.0
2561     1.0
2562     1.0
        ...
33115    1.0
33116    1.0
33117    1.0
33118    1.0
33119    1.0
Length: 30562, dtype: float64

### Include mean and median household income

In [36]:
income = zip_threshed.iloc[:,24:26]
display(income)

      median_household_income mean_household_income
2558                    86801                158183
2559                    33726                 61946
2560                    98151                161692
2561                   119691                177262
2562                   124194                176424
...                       ...                   ...
33115                       -                     N
33116                   38594                 52706
33117                   51071                 71580
33118                   19861                 35617
33119                   47941                 62587

[30562 rows x 2 columns]

### Make it neat

In [37]:
zipcode = zip_threshed.iloc[:,0]
display(zipcode)

2558     10001
2559     10002
2560     10003
2561     10004
2562     10005
         ...
33115    99923
33116    99925
33117    99926
33118    99927
33119    99929
Name: zipcode, Length: 30562, dtype: int64

In [38]:
cleaned_demographic = pd.concat([pd.DataFrame(zipcode), pd.DataFrame(age_percentages), pd.DataFrame(income)],axis = 1)
display(cleaned_demographic)
# cleaned_demographic.set_index('zipcode', inplace=True)
# display(cleaned_demographic)

,zipcode,5-9_years,10-14_years,15-19_years,20-24_years,25-34_years,35-44_years,45-54_years,55-59_years,60-64_years,65-74_years,75-84_years,85_years_or_more,households,median_household_income,mean_household_income
2558,10001,0.023877,0.046268,0.038238,0.044738,0.118324,0.211157,0.165909,0.118749,0.070102,0.044441,0.065896,0.042401,0.009899,86801,158183
2559,10002,0.038137,0.039276,0.045060,0.048578,0.066117,0.172637,0.149314,0.138501,0.057793,0.066067,0.083804,0.063986,0.030730,33726,61946
2560,10003,0.027052,0.015951,0.013377,0.127959,0.100049,0.272535,0.137327,0.100119,0.051863,0.050847,0.058692,0.030011,0.014218,98151,161692
2561,10004,0.039118,0.031357,0.049984,0.070475,0.079168,0.266066,0.177585,0.120149,0.051537,0.060540,0.050605,0.003415,0.000000,119691,177262
2562,10005,0.036773,0.030747,0.017218,0.010454,0.135408,0.453819,0.208584,0.077604,0.013651,0.004796,0.010946,0.000000,0.000000,124194,176424
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
33115,99923,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.461538,0.000000,0.000000,0.538462,0.000000,-,N
33116,99925,0.078692,0.060533,0.056901,0.043584,0.072639,0.104116,0.099274,0.134383,0.081114,0.105327,0.098063,0.043584,0.021792,38594,52706
33117,99926,0.094097,0.072472,0.081823,0.066043,0.062537,0.130918,0.106371,0.137931,0.094097,0.057861,0.068381,0.023378,0.004091,51071,71580
33118,99927,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.260163,0.178862,0.292683,0.162602,0.105691,0.000000,0.000000,19861,35617
33119,99929,0.037632,0.043552,0.056237,0.060042,0.042283,0.094292,0.083298,0.161099,0.117548,0.089218,0.106131,0.090909,0.017759,47941,62587

## Play with Real Estate

In [39]:
display(real_estate)

,type,zipcode,city,state,metro,county,size_rank,1996-04,1996-05,1996-06,...,2016-09,2016-10,2016-11,2016-12,2017-01,2017-02,2017-03,2017-04,2017-05,2017-06
0,ZHVI,10025,New York,NY,New York,New York,1,NaN,NaN,NaN,...,1137500,1137700,1152700,1156000.0,1140200,1130000,1131900,1149600,1198400,1247000
1,ZHVI,60657,Chicago,IL,Chicago,Cook,2,146700.0,146500.0,146300.0,...,318200,318100,318800,320200.0,320800,322000,323800,326100,327800,329100
2,ZHVI,60614,Chicago,IL,Chicago,Cook,3,198000.0,195500.0,194200.0,...,401900,406000,414100,417800.0,417400,418400,414100,404100,406400,415500
3,ZHVI,79936,El Paso,TX,El Paso,El Paso,4,70800.0,71000.0,71000.0,...,113800,113900,114100,114500.0,114900,115000,114700,114700,114800,114700
4,ZHVI,60640,Chicago,IL,Chicago,Cook,5,102300.0,101300.0,100700.0,...,198800,199200,200100,201500.0,203000,205100,206700,206500,206200,206700
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29106,ZRI,12720,Bethel,NY,NaN,Sullivan,15907,NaN,NaN,NaN,...,1185,1181,1174,1167.0,1156,1162,1175,1194,1202,1206
29107,ZRI,1338,Shelburne Falls,MA,Greenfield Town,Franklin,15908,NaN,NaN,NaN,...,1769,1772,1775,1780.0,1786,1790,1797,1798,1796,1795
29108,ZRI,21405,Annapolis,MD,Baltimore,Anne Arundel,15909,NaN,NaN,NaN,...,4048,4005,3888,3729.0,3563,3493,3474,3496,3488,3471
29109,ZRI,85220,Apache Junction,AZ,Phoenix,Pinal,15910,NaN,NaN,NaN,...,1007,1018,1035,1052.0,1061,1060,1058,1065,1074,1080
29110,ZRI,89595,Reno,NV,Reno,Washoe,15911,NaN,NaN,NaN,...,872,877,871,863.0,843,826,816,820,838,848

In [40]:

# re_zipcode = real_estate.loc[real_estate["zipcode"].isin(cleaned_demographic["zipcode"])]
# re_cleaned = cleaned_demographic.loc[cleaned_demographic["zipcode"].isin(re_zipcode["zipcode"])]
# display(cleaned_demographic["zipcode"])
# display(re_zipcode["zipcode"])
# display(re_cleaned["zipcode"])

### There are two metrics. The non-ZHVI have no useful data. Be gone

In [41]:
re_ZHVI = real_estate.loc[real_estate["type"] == "ZHVI"]
re_recent_zlw = re_ZHVI.iloc[:,249:265]
display(re_recent_zlw)

,2016-06,2016-07,2016-08,2016-09,2016-10,2016-11,2016-12,2017-01,2017-02,2017-03,2017-04,2017-05,2017-06
0,1080800,1109400,1132500,1137500,1137700,1152700,1156000.0,1140200,1130000,1131900,1149600,1198400,1247000
1,317500,317900,318600,318200,318100,318800,320200.0,320800,322000,323800,326100,327800,329100
2,401400,400100,400700,401900,406000,414100,417800.0,417400,418400,414100,404100,406400,415500
3,112500,113200,113700,113800,113900,114100,114500.0,114900,115000,114700,114700,114800,114700
4,197500,199600,199900,198800,199200,200100,201500.0,203000,205100,206700,206500,206200,206700
...,...,...,...,...,...,...,...,...,...,...,...,...,...
13195,627100,612700,607700,612500,624000,637300,647300.0,654200,649800,633400,620100,610700,602000
13196,514000,510200,504400,497500,493600,492100,498100.0,508700,521900,534100,544600,548200,551100
13197,172000,172200,172000,172600,174100,176100,176700.0,175900,174100,171700,169300,169500,171300
13198,787700,788300,790700,791500,789400,785100,783800.0,782300,773600,765300,767200,775900,785500
13199,174500,175400,176200,177000,178300,179900,180800.0,182000,183500,184500,184600,185200,186100

### Get mean and percent change in Zillow rating of zipcode

In [42]:
re_mean = re_recent_zlw.mean(axis = 1)
display(re_mean)
re_slope = (re_recent_zlw.iloc[:,11]-re_recent_zlw.iloc[:,0])/re_recent_zlw.iloc[:,11]
display(re_slope)

0        1.146438e+06
1        3.214538e+05
2        4.090692e+05
3        1.141923e+05
4        2.023692e+05
             ...
13195    6.260615e+05
13196    5.168077e+05
13197    1.728846e+05
13198    7.820231e+05
13199    1.806154e+05
Length: 13200, dtype: float64

0        0.098131
1        0.031422
2        0.012303
3        0.020035
4        0.042192
           ...
13195   -0.026854
13196    0.062386
13197   -0.014749
13198   -0.015208
13199    0.057775
Length: 13200, dtype: float64

### Make it neat

In [43]:
re_data = pd.concat([pd.DataFrame(re_ZHVI["zipcode"]),pd.DataFrame(re_ZHVI["size_rank"]),pd.DataFrame(re_ZHVI["state"]),pd.DataFrame(re_mean,columns = ["2016-2017_mean_zillow_score"]),pd.DataFrame(re_slope,columns = ["2016-2017_%change_zillow_score"])],axis = 1)
display(re_data)

,zipcode,size_rank,state,2016-2017_mean_zillow_score,2016-2017_%change_zillow_score
0,10025,1,NY,1.146438e+06,0.098131
1,60657,2,IL,3.214538e+05,0.031422
2,60614,3,IL,4.090692e+05,0.012303
3,79936,4,TX,1.141923e+05,0.020035
4,60640,5,IL,2.023692e+05,0.042192
...,...,...,...,...,...
13195,97102,13196,OR,6.260615e+05,-0.026854
13196,36564,13197,AL,5.168077e+05,0.062386
13197,3293,13198,NH,1.728846e+05,-0.014749
13198,21405,13199,MD,7.820231e+05,-0.015208
13199,85220,13200,AZ,1.806154e+05,0.057775

In [44]:
# match zipcodes in real estate dataset and demographic dataset.
cleaned_demographic.set_index('zipcode', inplace=True)
re_data.set_index("zipcode", inplace=True)

In [45]:
display(cleaned_demographic)
display(re_data)

,5-9_years,10-14_years,15-19_years,20-24_years,25-34_years,35-44_years,45-54_years,55-59_years,60-64_years,65-74_years,75-84_years,85_years_or_more,households,median_household_income,mean_household_income
zipcode,,,,,,,,,,,,,,,
10001,0.023877,0.046268,0.038238,0.044738,0.118324,0.211157,0.165909,0.118749,0.070102,0.044441,0.065896,0.042401,0.009899,86801,158183
10002,0.038137,0.039276,0.045060,0.048578,0.066117,0.172637,0.149314,0.138501,0.057793,0.066067,0.083804,0.063986,0.030730,33726,61946
10003,0.027052,0.015951,0.013377,0.127959,0.100049,0.272535,0.137327,0.100119,0.051863,0.050847,0.058692,0.030011,0.014218,98151,161692
10004,0.039118,0.031357,0.049984,0.070475,0.079168,0.266066,0.177585,0.120149,0.051537,0.060540,0.050605,0.003415,0.000000,119691,177262
10005,0.036773,0.030747,0.017218,0.010454,0.135408,0.453819,0.208584,0.077604,0.013651,0.004796,0.010946,0.000000,0.000000,124194,176424
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99923,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.461538,0.000000,0.000000,0.538462,0.000000,-,N
99925,0.078692,0.060533,0.056901,0.043584,0.072639,0.104116,0.099274,0.134383,0.081114,0.105327,0.098063,0.043584,0.021792,38594,52706
99926,0.094097,0.072472,0.081823,0.066043,0.062537,0.130918,0.106371,0.137931,0.094097,0.057861,0.068381,0.023378,0.004091,51071,71580
99927,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.260163,0.178862,0.292683,0.162602,0.105691,0.000000,0.000000,19861,35617
99929,0.037632,0.043552,0.056237,0.060042,0.042283,0.094292,0.083298,0.161099,0.117548,0.089218,0.106131,0.090909,0.017759,47941,62587

,size_rank,state,2016-2017_mean_zillow_score,2016-2017_%change_zillow_score
zipcode,,,,
10025,1,NY,1.146438e+06,0.098131
60657,2,IL,3.214538e+05,0.031422
60614,3,IL,4.090692e+05,0.012303
79936,4,TX,1.141923e+05,0.020035
60640,5,IL,2.023692e+05,0.042192
...,...,...,...,...
97102,13196,OR,6.260615e+05,-0.026854
36564,13197,AL,5.168077e+05,0.062386
3293,13198,NH,1.728846e+05,-0.014749
21405,13199,MD,7.820231e+05,-0.015208
85220,13200,AZ,1.806154e+05,0.057775

## Save Zipcodes that appear in both datasets

In [46]:
idx1 = pd.Index(list(cleaned_demographic.index))
idx2 = pd.Index(list(re_data.index))
idx_int = idx1.intersection(idx2)

In [47]:
re_data_final = re_data[re_data.index.isin(idx_int)]
dem_data_final = cleaned_demographic[cleaned_demographic.index.isin(idx_int)]
display(re_data_final.sort_index())
display(dem_data_final)

,size_rank,state,2016-2017_mean_zillow_score,2016-2017_%change_zillow_score
zipcode,,,,
10004,9652,NY,1.435446e+06,0.020038
10005,6829,NY,1.275392e+06,0.011620
10006,9424,NY,8.452077e+05,0.008664
10007,8660,NY,2.699369e+06,0.025353
10012,2147,NY,2.193915e+06,0.080795
...,...,...,...,...
99705,5239,AK,2.109538e+05,0.024379
99709,4332,AK,2.293538e+05,0.009107
99712,7970,AK,2.431000e+05,0.011475
99801,3900,AK,3.236000e+05,0.019560
99901,6835,AK,2.323846e+05,0.098534

,5-9_years,10-14_years,15-19_years,20-24_years,25-34_years,35-44_years,45-54_years,55-59_years,60-64_years,65-74_years,75-84_years,85_years_or_more,households,median_household_income,mean_household_income
zipcode,,,,,,,,,,,,,,,
10004,0.039118,0.031357,0.049984,0.070475,0.079168,0.266066,0.177585,0.120149,0.051537,0.060540,0.050605,0.003415,0.000000,119691,177262
10005,0.036773,0.030747,0.017218,0.010454,0.135408,0.453819,0.208584,0.077604,0.013651,0.004796,0.010946,0.000000,0.000000,124194,176424
10006,0.085852,0.015113,0.008039,0.007717,0.113826,0.467846,0.179100,0.075241,0.035048,0.012219,0.000000,0.000000,0.000000,123691,162688
10007,0.049738,0.070244,0.033304,0.041739,0.035049,0.258435,0.236766,0.136707,0.041158,0.060500,0.019779,0.016434,0.000145,"250,000+",441278
10012,0.031908,0.015892,0.028184,0.018996,0.115383,0.309564,0.146671,0.102802,0.046642,0.057567,0.077143,0.035136,0.014112,100859,141430
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99705,0.087711,0.082634,0.070677,0.082839,0.085787,0.166209,0.127063,0.135498,0.050899,0.050735,0.046517,0.009336,0.004095,74920,85763
99709,0.062575,0.055422,0.049661,0.062037,0.098785,0.169621,0.138824,0.141862,0.074065,0.052763,0.064854,0.024625,0.004906,77209,93243
99712,0.074068,0.072154,0.044857,0.041112,0.075399,0.146804,0.133988,0.138399,0.068742,0.103362,0.075399,0.019973,0.005742,86354,112503
99801,0.059910,0.063413,0.060968,0.067378,0.063578,0.148173,0.134195,0.158218,0.083504,0.063809,0.066156,0.019463,0.011235,86240,103626
99901,0.065393,0.066414,0.058468,0.064081,0.065466,0.134650,0.121601,0.153313,0.080703,0.074652,0.076402,0.026245,0.012612,64222,80178

In [48]:
new_col_headers = dem_data_final.columns.drop(['households']).insert(0,'< 5_years')
dem_data_final.columns=new_col_headers
display(dem_data_final)

,< 5_years,5-9_years,10-14_years,15-19_years,20-24_years,25-34_years,35-44_years,45-54_years,55-59_years,60-64_years,65-74_years,75-84_years,85_years_or_more,median_household_income,mean_household_income
zipcode,,,,,,,,,,,,,,,
10004,0.039118,0.031357,0.049984,0.070475,0.079168,0.266066,0.177585,0.120149,0.051537,0.060540,0.050605,0.003415,0.000000,119691,177262
10005,0.036773,0.030747,0.017218,0.010454,0.135408,0.453819,0.208584,0.077604,0.013651,0.004796,0.010946,0.000000,0.000000,124194,176424
10006,0.085852,0.015113,0.008039,0.007717,0.113826,0.467846,0.179100,0.075241,0.035048,0.012219,0.000000,0.000000,0.000000,123691,162688
10007,0.049738,0.070244,0.033304,0.041739,0.035049,0.258435,0.236766,0.136707,0.041158,0.060500,0.019779,0.016434,0.000145,"250,000+",441278
10012,0.031908,0.015892,0.028184,0.018996,0.115383,0.309564,0.146671,0.102802,0.046642,0.057567,0.077143,0.035136,0.014112,100859,141430
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99705,0.087711,0.082634,0.070677,0.082839,0.085787,0.166209,0.127063,0.135498,0.050899,0.050735,0.046517,0.009336,0.004095,74920,85763
99709,0.062575,0.055422,0.049661,0.062037,0.098785,0.169621,0.138824,0.141862,0.074065,0.052763,0.064854,0.024625,0.004906,77209,93243
99712,0.074068,0.072154,0.044857,0.041112,0.075399,0.146804,0.133988,0.138399,0.068742,0.103362,0.075399,0.019973,0.005742,86354,112503
99801,0.059910,0.063413,0.060968,0.067378,0.063578,0.148173,0.134195,0.158218,0.083504,0.063809,0.066156,0.019463,0.011235,86240,103626
99901,0.065393,0.066414,0.058468,0.064081,0.065466,0.134650,0.121601,0.153313,0.080703,0.074652,0.076402,0.026245,0.012612,64222,80178

In [49]:
# print(idx1)
# idx1.unique()

In [50]:
# print(idx2)
# idx2.unique()

### Concatenate and export

In [51]:
zipcode_data_final = pd.concat([re_data_final, dem_data_final],axis = 1)
display(zipcode_data_final)

,size_rank,state,2016-2017_mean_zillow_score,2016-2017_%change_zillow_score,< 5_years,5-9_years,10-14_years,15-19_years,20-24_years,25-34_years,35-44_years,45-54_years,55-59_years,60-64_years,65-74_years,75-84_years,85_years_or_more,median_household_income,mean_household_income
zipcode,,,,,,,,,,,,,,,,,,,
10004,9652,NY,1.435446e+06,0.020038,0.039118,0.031357,0.049984,0.070475,0.079168,0.266066,0.177585,0.120149,0.051537,0.060540,0.050605,0.003415,0.000000,119691,177262
10005,6829,NY,1.275392e+06,0.011620,0.036773,0.030747,0.017218,0.010454,0.135408,0.453819,0.208584,0.077604,0.013651,0.004796,0.010946,0.000000,0.000000,124194,176424
10006,9424,NY,8.452077e+05,0.008664,0.085852,0.015113,0.008039,0.007717,0.113826,0.467846,0.179100,0.075241,0.035048,0.012219,0.000000,0.000000,0.000000,123691,162688
10007,8660,NY,2.699369e+06,0.025353,0.049738,0.070244,0.033304,0.041739,0.035049,0.258435,0.236766,0.136707,0.041158,0.060500,0.019779,0.016434,0.000145,"250,000+",441278
10012,2147,NY,2.193915e+06,0.080795,0.031908,0.015892,0.028184,0.018996,0.115383,0.309564,0.146671,0.102802,0.046642,0.057567,0.077143,0.035136,0.014112,100859,141430
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99705,5239,AK,2.109538e+05,0.024379,0.087711,0.082634,0.070677,0.082839,0.085787,0.166209,0.127063,0.135498,0.050899,0.050735,0.046517,0.009336,0.004095,74920,85763
99709,4332,AK,2.293538e+05,0.009107,0.062575,0.055422,0.049661,0.062037,0.098785,0.169621,0.138824,0.141862,0.074065,0.052763,0.064854,0.024625,0.004906,77209,93243
99712,7970,AK,2.431000e+05,0.011475,0.074068,0.072154,0.044857,0.041112,0.075399,0.146804,0.133988,0.138399,0.068742,0.103362,0.075399,0.019973,0.005742,86354,112503
99801,3900,AK,3.236000e+05,0.019560,0.059910,0.063413,0.060968,0.067378,0.063578,0.148173,0.134195,0.158218,0.083504,0.063809,0.066156,0.019463,0.011235,86240,103626
99901,6835,AK,2.323846e+05,0.098534,0.065393,0.066414,0.058468,0.064081,0.065466,0.134650,0.121601,0.153313,0.080703,0.074652,0.076402,0.026245,0.012612,64222,80178

In [52]:
zipcode_data_final.to_csv('./zipcode_lookup.csv', index = True, header=True) #Don't forget to add '.csv' at the end of the path